<?php  if ( ! defined('BASEPATH')) exit('No direct script access allowed');
/*
| -------------------------------------------------------------------
| DATABASE CONNECTIVITY SETTINGS
| -------------------------------------------------------------------
| This file will contain the settings needed to access your database.
|
| For complete instructions please consult the 'Database Connection'
| page of the User Guide.
|
| -------------------------------------------------------------------
| EXPLANATION OF VARIABLES
| -------------------------------------------------------------------
|
|	['hostname'] The hostname of your database server.
|	['username'] The username used to connect to the database
|	['password'] The password used to connect to the database
|	['database'] The name of the database you want to connect to
|	['dbdriver'] The database type. ie: mysql.  Currently supported:
				 mysql, mysqli, postgre, odbc, mssql, sqlite, oci8
|	['dbprefix'] You can add an optional prefix, which will be added
|				 to the table name when using the  Active Record class
|	['pconnect'] TRUE/FALSE - Whether to use a persistent connection
|	['db_debug'] TRUE/FALSE - Whether database errors should be displayed.
|	['cache_on'] TRUE/FALSE - Enables/disables query caching
|	['cachedir'] The path to the folder where cache files should be stored
|	['char_set'] The character set used in communicating with the database
|	['dbcollat'] The character collation used in communicating with the database
|	['swap_pre'] A default table prefix that should be swapped with the dbprefix
|	['autoinit'] Whether or not to automatically initialize the database.
|	['stricton'] TRUE/FALSE - forces 'Strict Mode' connections
|							- good for ensuring strict SQL while developing
|
| The $active_group variable lets you choose which connection group to
| make active.  By default there is only one group (the 'default' group).
|
| The $active_record variables lets you determine whether or not to load
| the active record class
*/

$active_group = 'default';
$active_record = TRUE;

############## BD ESTADO DIARIO ######################
$db['default']['hostname'] = '192.168.1.32';
$db['default']['username'] = 'gespron';
$db['default']['password'] = 'gespron2019';
$db['default']['database'] = 'direcciones';
$db['default']['dbdriver'] = 'mysql';
$db['default']['dbprefix'] = '';
$db['default']['pconnect'] = TRUE;
$db['default']['db_debug'] = TRUE;
$db['default']['cache_on'] = FALSE;
$db['default']['cachedir'] = '';
$db['default']['char_set'] = 'utf8';
$db['default']['dbcollat'] = 'utf8_general_ci';
$db['default']['swap_pre'] = '';
$db['default']['autoinit'] = TRUE;
$db['default']['stricton'] = FALSE;

############## BD CAE ##################################
$db['cae']['hostname'] = 'localhost';
$db['cae']['username'] = 'root';
$db['cae']['password'] = 'gespron2019';
$db['cae']['database'] = 'emp_prod_forseti_mvs_cjplataf';
$db['cae']['dbdriver'] = 'mysql';
$db['cae']['dbprefix'] = '';
$db['cae']['pconnect'] = FALSE;
$db['cae']['db_debug'] = TRUE;
$db['cae']['cache_on'] = FALSE;
$db['cae']['cachedir'] = '';
$db['cae']['char_set'] = 'utf8';
$db['cae']['dbcollat'] = 'utf8_general_ci';
$db['cae']['swap_pre'] = '';
$db['cae']['autoinit'] = FALSE;
$db['cae']['stricton'] = FALSE;

############## BD SUPERIR ##############################
$db['superir']['hostname'] = 'localhost';
$db['superir']['username'] = 'root';
$db['superir']['password'] = 'gespron2019';
$db['superir']['database'] = 'emp_prod_forseti_mvs_cjsuperir';
$db['superir']['dbdriver'] = 'mysql';
$db['superir']['dbprefix'] = '';
$db['superir']['pconnect'] = FALSE;
$db['superir']['db_debug'] = TRUE;
$db['superir']['cache_on'] = FALSE;
$db['superir']['cachedir'] = '';
$db['superir']['char_set'] = 'utf8';
$db['superir']['dbcollat'] = 'utf8_general_ci';
$db['superir']['swap_pre'] = '';
$db['superir']['autoinit'] = FALSE;
$db['superir']['stricton'] = FALSE;

############## BD CAT ##################################
$db['cat']['hostname'] = 'localhost';
$db['cat']['username'] = 'root';
$db['cat']['password'] = 'gespron2019';
$db['cat']['database'] = 'emp_prod_forseti_mvs_cjgeneral';
$db['cat']['dbdriver'] = 'mysql';
$db['cat']['dbprefix'] = '';
$db['cat']['pconnect'] = FALSE;
$db['cat']['db_debug'] = TRUE;
$db['cat']['cache_on'] = FALSE;
$db['cat']['cachedir'] = '';
$db['cat']['char_set'] = 'utf8';
$db['cat']['dbcollat'] = 'utf8_general_ci';
$db['cat']['swap_pre'] = '';
$db['cat']['autoinit'] = FALSE;
$db['cat']['stricton'] = FALSE;



/* End of file database.php */
/* Location: ./application/config/database.php */